{% extends "::base.html.twig" %}

{% block page_title %}{% endblock %}

{% block content %}    
    <div class="container well">
        {% block content_body %}{% endblock %}
    </div>
{% endblock %}