{% extends "::base.html.twig" %}

{% block page_title %}Accueil{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1>Bienvenue !</h1>

		<p>
			Vous êtes sur le site de gestion des semestres d'étude à l'étranger du département informatique de l'INSA de Rennes.
			Si vous êtes étudiant dans ce département, vous recevrez (ou avez reçu) votre accès dans votre boîte mail INSA.
		</p>
	</div>
{% endblock %}