{% extends "::base.html.twig" %}

{% block page_title %}Accueil{% endblock %}

{% block content %}
	<div class="inner cover">
		<form>
			<div class="form-group">
				<label>Prénom</label>
				<input type="text" class="form-control" name="firstname" placeholder="Prénom" />
			</div>
		</form>
	</div>
{% endblock %}