{% extends "MobilityStudentBundle::layout.html.twig" %}

{% block page_title %}{{ student.firstname|title }} {{ student.surname|title }}{% endblock %}

{% block content_body %}
    	<p>Vous n'avez été affecté à aucune université.</p>
{% endblock %}