<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobilité à l'international</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite, ?yui_css'
            'assets/bootstrap/css/bootstrap.css'
            'assets/bootstrap/css/bootstrap-theme.css'
            'assets/bootstrap/css/cover.css'
            'assets/css/design.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        {% javascripts filter='?yui_js'
            'assets/js/html5shiv.js'
            'assets/js/respond.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <![endif]-->
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Mobilité à l'international</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Accueil</a></li>
                                <li><a href="#">Aide</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1>{% block page_title %}{% endblock %}</h1>

                    {% block content %}{% endblock %}
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Song-Hai Nguyen &amp; Nicolas Le Borgne</p>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts filter='?yui_js'
                'assets/bootstrap/js/jquery.min.js'
                'assets/bootstrap/js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
    </html>