{% extends "MobilityStudentBundle::layout.html.twig" %}

{% block page_title %}<a href="{{ path('main_admin') }}">Administration</a> - <a href="{{ path('student_list') }}">Gestion des étudiants</a>{% endblock %}
