{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_title %}<a href="{{ path('main_admin') }}">Administration</a> - {{ 'layout.register'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
